@import url(__image/photo-grid__image.css);
.photo-grid{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
grid-gap: 2vw;
max-width: 90%;
margin-left: 5%;
padding-bottom: 0px;
}
