@import url(__image/photo-grid__image.css);
.photo-grid{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
grid-gap: 14px;
max-width: calc(100% * 0.95);
padding-bottom: 0px;
margin-left: 48px;
margin-right: 48px;
}

@media (min-width: 1280px) {
  .photo-grid{  
    grid-template-columns: repeat(4, 1fr);
    margin-left: calc(((100% - 1280px) / 2) + 48px);
    margin-right: calc(((100% - 1280px) / 2) + 48px);
}
}
@media (min-width: 320px) and (max-width: 767px) {
  .photo-grid{  
    margin-left: 5%;
    margin-right: 5%;
}
}
@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid{  
    margin-left: 3%;
    margin-right: 3%;
}
}