.cover__subtitle{
margin-top: 32px;
font-family: 'Inter', Arial, sans-serif; 
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
white-space: pre-line;
position: relative;
z-index: 3;
}

@media all and (min-width: 320px) and (max-width: 767px){
.cover__subtitle{
font-size: 14px;
line-height: 16px;
margin-top: 0px;
}
}