@import url(__logo/header__logo.css);
@import url(__lang/header__lang.css);
.header{
width: 100%;
display: grid;
grid-template-columns: calc(10% + 176px) 1fr 30px calc(30px + 10%);
grid-column-gap: 18px;
}