.place__paragraph{
grid-area: paragraph;
padding-bottom: 24px;
margin: 0px;
font-family: 'Inter', Arial, sans-serif; 
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
white-space: pre-line;
}

@media all and (min-width: 320px) and (max-width: 767px){
.place__paragraph{
max-width: 90%;
font-size: 16px;
line-height: 26px;
justify-self: center;
padding-bottom: 0px;
}
}
@media (min-width: 768px) and (max-width: 1023px){
    .place__paragraph{
    font-size: 16px;
    line-height: 26px;
    justify-self: center;
    padding-bottom: 0px;
    }
}