@import url(__title/intro__title.css);
@import url(__text/intro__text.css);
@import url(__list/intro__list.css);
@import url(__span-accent/intro__span-accent.css);

.intro{
    margin-top: 92px;  
    margin-left: calc( ((100% - 1280px) / 2) + (1280px *0.1));
    max-width: calc(1280px * 0.55);
}

@media all and (min-width: 320px) and (max-width: 767px){
    .intro{
        margin-top: 64px; 
        margin-left: 5%;
        max-width: 90%;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .intro{
        margin-top: 64px; 
        margin-left: 5%;
        max-width: 90%;
    }
}
@media (min-width: 1024px) and (max-width: 1279px){
    .intro{
        margin-top: 92px; 
        margin-left: 5%;
        max-width: 690px;
    }
}